body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-basis: 100%;
  align-items: stretch;
}
.breadcrumb__arrow {
  font-size: 12px;
}
p {
  line-height: 1.5;
  letter-spacing: 0.5;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1em;
  max-width: 50vw;
}
nav {
  display: block;
  padding: 20px 0;
  font-size: 20px;
}
nav a {
  padding-right: 5px;
}

a {
  color: deeppink;
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: hotpink;
}

p {
  margin: 5px 0 0 0;
}
canvas {
  border: 1px solid black;
}
.controls {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 400px;
  margin-left: 40px;
  align-self: flex-start;
}
button,
input[type="button"] {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
input[type="color"] {
  width: 100%;
}
.control {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 5px;
}
.control__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}

.content {
  padding: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.column {
  flex-direction: column;
}

section {
  display: flex;
  flex: 1;
}

/* react wrapper lib does not accept class or styles., so it needs to be targeted in this manner */
.sketch > div {
  display: flex;
  flex-basis: 100%;
}

footer {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

footer a {
  padding: 0 5px;
}

.examples {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  min-width: 320px;
}

.item img {
  border-radius: 30px;
  display: flex;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  flex-basis: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: 0.3s all ease;
}

.item img:hover {
  transform: scale(1.01);
}
