body {
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-basis: 100%;
  align-items: stretch;
}
.breadcrumb__arrow {
  font-size: 12px;
}
p {
  line-height: 1.5;
  letter-spacing: 0.5;
  font-size: 18px;
  padding-bottom: 1em;
  max-width: 50vw;
}
nav {
  display: block;
  padding: 20px 0;
  font-size: 20px;
}
nav a {
  padding-right: 5px;
}

a {
  color: deeppink;
  text-decoration: none;
}

p {
  margin: 5px 0 0 0;
}
canvas {
  border: 1px solid black;
}
.controls {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 400px;
  margin-left: 40px;
}
button,
input[type="button"] {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
input[type="color"] {
  width: 100%;
}
.control {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.control__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}
